.search-form {
    display: flex;
    align-items: center;
    gap: 40px;
}
/*fieldset*/
.search-form__fieldset {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: none;
    inline-size: 100%;
}
.search-form__fieldset-title {
    font-weight: 400;
    font-size: 18px;
}
/*label*/
.search-form__label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.search-form__label:hover {
    text-decoration: underline 1px rgba(255, 255, 255, 1);
    text-underline-offset: 5px;
}
.search-form__label:has(:focus-visible) {
    outline: 1px solid rgba(255, 255, 255, 1);
    outline-offset: 1px;
}
/*textfield*/
.search-form__textfield {
    border-top: 1px solid rgba(255, 255, 255, 1);
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    border-left: none;
    padding: 2px 0;
    color: currentColor;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background-color: transparent;
    inline-size: 225px;
}
.search-form__textfield:active {
    outline: 1px solid rgba(255, 255, 255, 1);
}
.search-form__fieldset:focus {
    outline: none;
}
.search-form__fieldset:focus-visible {
    outline: none;
}
/*checkbox*/
.search-form__checkbox-list {
    display: flex;
    gap: 15px;
}
.search-form__pseudo-checkbox {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 1);
    inline-size: 19px;
    block-size: 19px;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
    content: '';
    display: block;
    background-color: rgba(255, 255, 255, 1);
    inline-size: 15px;
    block-size: 15px;
    margin: 1px 0 0 1px;
}