.content__card-link {
    text-decoration: none;
    display: block; 
    /* Уберите дефолтное подчёркивание и замените цвет текста у ссылки .content__card-link. */
}
  .content__card-link:active {
    background-color: #545050;
  }
  .content__card-link:hover {
    text-decoration: underline 1px #FFF;
  }
  .content__card-link:focus {
    outline: none;
  }
  .content__card-link:focus-visible {
    outline: 1px solid #FFF;
  }
  .content__card-link_current {
    background-color: #545050;
  }
  