.content__video-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start; /*Расположите элементы внутри контейнера .content__video-card в строку, прижав к началу контейнера по дополнительной оси.*/
  }
  .content__video-card-title {
    color: rgba(217, 217, 217, 1);
    font-family: Oswald, sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 3px;
  } /*Оформите текст .content__video-card-title и учтите возможность переполнения, заменяя излишний текст на “…”.*/

  .content__video-card-description {
    color: rgba(217, 217, 217, 1);
    font-weight: 400;
    line-height: 16.2px;
    padding-top: 4px;
  }
  .content__video-card-description-container {
    width: 196px;
    gap: 6px;
    line-clamp: 1;
    flex-grow: 1; /*Сделайте так, чтобы .content__video-card-description-container занимал всё доступное пространство (не занятое картинкой). Вам поможет свойство flex-grow.*/
  }
  .content__video-card-thumbnail {
    width: 194px;
    height: 103px;
    object-fit: cover;
    object-position: center; /*Задайте размеры .content__video-card-thumbnail и расположите в них изображение так, чтобы оно закрывало весь элемент и было выровнено по центру. Используйте object-fit и object-position.*/
  }
  