/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(217, 217, 217, 0.1);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(217, 217, 217, 1);
}