.result {
    grid-area: result;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-end; /*Расположить элементы .content в строку, прижав к низу вертикальной оси.*/
  }
  .result__video-container {
    position: relative;
    inline-size: 711px;
    block-size: 386px;
    margin-bottom: 16px; /*Задайте размеры контейнеру .result__video-container и добавьте отступ снизу.*/
  }
  .result__video {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    object-position: center; /*Поместите видео в этот контейнер так, чтобы оно занимало всю ширину и высоту и не выходило за пределы. Используйте object-fit.*/
  }
