/*Титул*/
.title {
    color: rgba(255, 255, 255, 1);
    font-family: Oswald, sans-serif;
    font-weight: 700;
    font-size: 75px;
    line-height: 70.5px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  .content__accent {

    color: rgba(84, 80, 80, 1);/*Оформите элемент .title и вложенный в него .content__accent.*/
  }