/*Компонентный подход - подключаем стили общей формы для results*/
@import url('./searcch-results/title.css');
@import url('./searcch-results/list.css');
/*Компонентный подход - подключаем стили карточек template*/
@import url('../../template/card-link.css');
@import url('../../template/video-card.css');
.content__details {
    grid-area: details;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end; /*Расположить элементы .content в строку, прижав к низу вертикальной оси.*/
    inline-size: 100%;
    block-size: 100%;
    gap: 24.5px; /*26px, у титула высота получилась 211.5, по макету 210*/ /*Растянуть .content__details на всю доступную ширину и высоту контейнера и добавить отступы между заголовком и зоной с карточками.*/
  }