*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/*Комппонентный подход - импортируем стили для страницы и content(cover)*/
@import url('page.css');
/*Страница*/
.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}
@import url('./content.css');

.content {
  display: flex;
  gap: 30px;
  margin: 0 30px;
  inline-size: 100%;
}

.content__details {
  inline-size: 100%;
}

.title {
  padding: 0 0 26px;
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  overflow-y: scroll;
  block-size: 298px;
}



.content__list-item:not(:last-child) {
  margin: 0 0 34px;
}

.content__card-link {
  display: block;
  margin: 2px;
  text-decoration: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline 1px #FFF;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-title {
  padding: 2px 2px 5px;
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  hyphens: auto;
}

.content__video-card-description {
  padding: 0 2px;
  color: #FFF;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

/*Комппонентный подход - импортируем стили для универсальных компонентов*/
@import url('./button.css');

/* Кнопка */
.button {
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  padding: 6px 0;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  inline-size: 100%;
}
/* Модификаторы кнопки */
.button:active {
  background-color: rgba(84, 80, 80, 1);
}
.button:hover {
  text-decoration: underline 1px rgba(255, 255, 255, 1);
}
.button:focus {
  outline: none;
}
.button:focus-visible {
  outline: 1px solid rgba(255, 255, 255, 1);
  outline-offset: 1px;
}
@import url('./custom-scrollbar.css');
/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(217, 217, 217, 0.1);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(217, 217, 217, 1);
}



@import url('./result.css');
.result {
  align-self: flex-end;
}
.result__video-container {
  position: relative;
  inline-size: 711px;
  margin: 0 0 11px;
}
.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

@import url('./search-form.css');
.search-form {
  display: flex;
  align-items: center;
  gap: 40px;
}
/*fieldset*/
.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
  inline-size: 100%;
}
.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
}
/*label*/
.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.search-form__label:hover {
  text-decoration: underline 1px rgba(255, 255, 255, 1);
  text-underline-offset: 5px;
}
.search-form__label:has(:focus-visible) {
  outline: 1px solid rgba(255, 255, 255, 1);
  outline-offset: 1px;
}
/*textfield*/
.search-form__textfield {
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-right: none;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  border-left: none;
  padding: 2px 0;
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  background-color: transparent;
  inline-size: 225px;
}
.search-form__textfield:active {
  outline: 1px solid rgba(255, 255, 255, 1);
}
.search-form__fieldset:focus {
  outline: none;
}
.search-form__fieldset:focus-visible {
  outline: none;
}
/*checkbox*/
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}
.search-form__pseudo-checkbox {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 1);
  inline-size: 19px;
  block-size: 19px;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: rgba(255, 255, 255, 1);
  inline-size: 15px;
  block-size: 15px;
  margin: 1px 0 0 1px;
}
.search-form__submit-button {
  align-self: flex-end;
}
@import url('./visually-hidden.css');
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
