/*Глобальные стили*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
/*Страница*/
.page {
  display: flex; /*Задайте флекс для верхнего контейнера .page.*/
  align-items: center; 
  justify-content: center; /*Расположить блок .content посередине .page.*/
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: rgba(217, 217, 217, 1);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}
/*Правила для блока сontent*/
.content {
  display: grid;
  grid-template-areas: 'result details'; /*Задайте грид для .content и пропишите grid-area для всех элементов внутри.*/
  grid-template-columns: 711px 399px;
  gap: 30px; /*Задать горизонтальные размеры .content и отступы между его элементами.*/
  margin: 0 30px;
}
/*Правила для блока details*/
.content__details {
  grid-area: details;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end; /*Расположить элементы .content в строку, прижав к низу вертикальной оси.*/
  inline-size: 100%;
  block-size: 100%;
  gap: 24.5px; /*26px, у титула высота получилась 211.5, по макету 210*/ /*Растянуть .content__details на всю доступную ширину и высоту контейнера и добавить отступы между заголовком и зоной с карточками.*/
}
  /*Правила для листа из details*/
  .content__list {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px; /*Создайте вертикальные отступы между элементами .content__list-item. Используйте свойство gap.*/
  }
  /*Элементы листа*/
    .content__list-container {
      height: 298px; /*Установить вертикальный размер для .content__list-container и добавить скролл при переполнении. */ 
      overflow-y: scroll; /*Скроллбар (полоса прокрутки) скрывать не нужно, он уже стилизован в соответствии с макетом.*/
      overflow-x: hidden;
      position: relative;
    }
    .content__list-item {
      padding: 0 3px 0 3px;
    }
    /*Титул из листа*/
    .title {
      color: rgba(255, 255, 255, 1);
      font-family: Oswald, sans-serif;
      font-weight: 700;
      font-size: 75px;
      line-height: 70.5px;
      letter-spacing: 0%;
      text-transform: uppercase;
    }
    .content__accent {
      color: rgba(84, 80, 80, 1);/*Оформите элемент .title и вложенный в него .content__accent.*/
    }
    /*Список карточек*/
    .content__video-card {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-start; /*Расположите элементы внутри контейнера .content__video-card в строку, прижав к началу контейнера по дополнительной оси.*/
    }
    .content__card-link {
      text-decoration: none;
      display: block;  /* Уберите дефолтное подчёркивание и замените цвет текста у ссылки .content__card-link. */
    }
      /*Модификаторы карточек*/
      .content__card-link:active {
        background-color: #545050;
      }
      .content__card-link:hover {
        text-decoration: underline 1px #FFF;
      }
      .content__card-link:focus {
        outline: none;
      }
      .content__card-link:focus-visible {
        outline: 1px solid #FFF;
      }
    .content__card-link_current {
       background-color: #545050;
    }
      /*Элементы списока карточек*/
      .content__video-card-title {
        color: rgba(217, 217, 217, 1);
        font-family: Oswald, sans-serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 100%;
        text-transform: uppercase;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-top: 3px; /*Оформите текст .content__video-card-title и учтите возможность переполнения, заменяя излишний текст на “…”.*/
      } 
      .content__video-card-description {
        color: rgba(217, 217, 217, 1);
        font-weight: 400;
        line-height: 16.2px;
        padding-top: 4px;
      }
      .content__video-card-description-container {
        width: 196px;
        gap: 6px;
        line-clamp: 1;
        flex-grow: 1; /*Сделайте так, чтобы .content__video-card-description-container занимал всё доступное пространство (не занятое картинкой). Вам поможет свойство flex-grow.*/
      }
      .content__video-card-thumbnail {
        width: 194px;
        height: 103px;
        object-fit: cover;
        object-position: center; /*Задайте размеры .content__video-card-thumbnail и расположите в них изображение так, чтобы оно закрывало весь элемент и было выровнено по центру. Используйте object-fit и object-position.*/
      }
/*Правила для блока result*/
.result {
    grid-area: result;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-end; /*Расположить элементы .content в строку, прижав к низу вертикальной оси.*/
  }
  /*Правила для блока result*/
  .result__video-container {
    position: relative;
    inline-size: 711px;
    block-size: 386px;
    margin-bottom: 16px; /*Задайте размеры контейнеру .result__video-container и добавьте отступ снизу.*/
  }
  .result__video {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    object-position: center; /*Поместите видео в этот контейнер так, чтобы оно занимало всю ширину и высоту и не выходило за пределы. Используйте object-fit.*/
  }
  /*Правила для блока search-form*/
  .search-form {
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between; /*Расположить элементы .search-form в строку, пропорционально распределить между ними свободное пространство и прижать их к началу контейнера.*/
    inline-size: 100%;
    gap: 40px;
  }
    /*fieldset элемент*/
    .search-form__fieldset {
        display: flex;
        flex-direction: column;
        gap: 5px;
        border: none;
        /*Создайте с помощью флексбокса строку с двумя элементами — fieldset и кнопкой.
    Расположите чекбоксы в линию с помощью обёртки .search-form__checkbox-list. Используйте display: flex; и gap.
    Сбросьте border у fieldset.*/
    }
    .search-form__fieldset-title {
        font-family: 'Fira Sans Condensed', sans-serif;
        font-weight: 400;
        font-size: 18px;
        padding-top: 4px;
        line-height: 100%;
        letter-spacing: 0%; /*Оформите текст элементов .search-form__fieldset-title. Обратите внимание на вес шрифта, размер, отступы.*/
    }
    /*label элемент*/
    .search-form__label {
        display: inline-flex;
        width: fit-content;
        gap: 5px;
        cursor: pointer; /*Задайте .search-form__label у инпутов для поиска городов и времени суток.
        Расставьте элементы внутри .search-form__label в линию. Примените свойство display: flex;. Также вам пригодится правило width: fit-content;.*/
    }
      /*label модификаторы*/
      .search-form__label:hover {
          text-decoration: underline 1px rgba(255, 255, 255, 1);
          text-underline-offset: 5px;
      }
      .search-form__label:has(:focus-visible) {
          outline: 1px solid rgba(255, 255, 255, 1);
          outline-offset: 1px;
      }
    /*textfield элементт*/
    .search-form__textfield {
        border-top: 1px solid rgba(255, 255, 255, 1);
        border-right: none;
        border-bottom: 1px solid rgba(255, 255, 255, 1);
        border-left: none;
        color: currentColor;
        font-family: 'Fira Sans Condensed', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        background-color: transparent;
        appearance: none;
        inline-size: 225px;
        block-size: 27px;
    }
      /*textfield модификаторы*/
      .search-form__textfield:active {
          outline: 1px solid rgba(255, 255, 255, 1);
          outline-offset: 1px;
      }
      .search-form__fieldset:focus, 
      .search-form__fieldset:focus-visible  {
          outline: none;
      }
    /*checkbox*/
    .search-form__checkbox-list {
        display: flex;
        gap: 15px;
    }
    .search-form__pseudo-checkbox {
        display: flex;
        align-self: center;
        justify-content: center;
        border: 1px solid rgba(255, 255, 255, 1);
        inline-size: 19px;
        block-size: 19px;
    }
      /*checkbox модификатры*/
      .search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
          content: '';
          display: block;
          background-color: rgba(255, 255, 255, 1);
          inline-size: 15px;
          block-size: 15px;
          margin: 1px 0 0 1px;
      }
    /*Правила для кнопок в search-form*/
    .search-form__submit-button
    {
        padding: 5px;
        margin-top: 20px;
    }
/*UI элементы*/
/* Кнопка */
.button {
  border: 1px solid rgba(255, 255, 255, 1);
  gap: 10px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0%;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  inline-size: 100%;
}
  /*Правила для кнопок на странице*/
  .more-button {
    max-width: 390px;
    padding: 5px;
    margin: 30px 3px 2px 2px;
  }
    /* Модификаторы кнопки */
    .button:active {
      background-color: rgba(84, 80, 80, 1);  
    }
    .button:hover {
      text-decoration: underline 1px rgba(255, 255, 255, 1);
    }
    .button:focus {
      outline: none;
    }
    .button:focus-visible {
      outline: 1px solid rgba(255, 255, 255, 1);
      outline-offset: 1px;
    }
/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(217, 217, 217, 0.1);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(217, 217, 217, 1);
}
/* Скрыть содержимое */
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}